body {
    background-color: aquamarine;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

pre{
    background-color: azure;
    border: solid black;
    width: 550px;
    }
header{
    text-align: center;
}